.cassette-list {
  max-width: 800px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 20px;
  @media (max-width: 800px) {
    width: 100%;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #3b3b3b;
    font-family: 'Monoton', sans-serif;
  }

  button {
    background-color: #3b3b3b;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #333333;
    }
    &.clear-filter{
      background-color: transparent;
      color: white;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: #222;
        color: #fff;
      }
      
    }
    &.showFilters{
      display: none;
      text-align: right;
      background-color: transparent;
      text-decoration: underline;
      border: none;
      color: #333333;
      padding: 0;
      @media (max-width:768px) {        
        display: block;
      }
    }
  }

  .result-summary {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    p, label{
      font-size: 14px;
      color: #3b3b3b;
      margin: 0;
    }
  }
  .item-per-page-div{
    text-align: right;
    p, label{
      font-size: 14px;
      color: #3b3b3b;
      margin: 0;
    }
    input{
      width: 60px;
      padding: 8px;
      border: 1px solid #ddd;
    }
  }

}